<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Đăng Kí</title>
    <link rel="stylesheet" href="/public/assets/css/register.css">
</head>
<body>
    <div id="register-page">
        <div class="register-img"> 
         
         <img id= "register-image" src="/public/assets/img/register.png" alt="">
        </div>
        <div class="register-content">
            <h2>Đăng kí</h2>
            <p>Hoàn toàn miễn phí</p>
            <div>
                <form class="register-form" action="register">
                    <div class="register-name">
                        <input type="text" name="data[name]" id="inputName" placeholder="Họ và Tên">
                    </div>
                    <input class="register-input" type="text" name="username" placeholder="Tên đăng nhập"></br>
                    <input class="register-input"  type="password" name="password" placeholder="Mật khẩu"></br>
                    <button class="register-summit" type="submit">Đăng kí</button>
                </form>
            </div>
            <div id="def">
                <div class="check-box">
                    <input type="checkbox" name="" id="checkbox">
                    <label for="checkbox">Với việc đăng kí, bạn đã đồng ý với <a style="color:antiquewhite;" href=""> Điều khoản dịch vụ </a> và <a style="color: antiquewhite;" href="">Điều khoản bảo mật</a> của chúng tôi</label>
                </div>
            </div>
        </div>
    </div>
</body>
</html>