@font-face {
    font-family: "PublicSans";
    src: url(/public/assets/font/static/PublicSans-Regular.ttf);
}

@font-face {
    font-family: "PublicSans";
    font-weight: bold;
    src: url(/public/assets/font/static/PublicSans-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PublicSans, serif;
}
#register-page{
    position: relative;
    background-color: rgba(22, 28, 36, 1);
    height: 100vh;
}
#register-page .register-img{
    position: absolute;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    border-radius: 16px;
    width: 31%;
    height: 95%;
    background-color: #454F5B;
}
#register-image{
    position: absolute;
    
    width: 82%;
    height: 27,5%;
    top: 45%;
    left:9%;
    right:9%;
}

#register-page .register-img h1{
    position: absolute;
    width: 82%;
    height: 5%;
    top: 30%;
    bottom:588.5px;
    left: 9%;
    right: 9%;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 48px;;
    
}

.register-content{
    position: absolute;
    width: 40%;
    height: 50.3%;
    top: 25%;
    left:49.3%;
    background-color: rgba(22, 28, 36, 1);
}

.register-content h2{
    color: rgba(255, 255, 255, 1);
    font-weight: Bold;
    font-size: 36px;
    line-height: 36px;
}
.register-content p{
    color: rgba(145, 158, 171, 1);
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.register-form > input{
    width: 100%;
    height: 60px;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 10px;
    padding-left: 20px;
    background-color: rgba(33, 43, 54, 1);
    border-width: 0px;
}

.register-form .register-name{
    display: flex;
    justify-content: space-between;
}

.register-name>input{
    width: 100%;
    height: 60px;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 10px;
    padding-left: 20px;
    background-color: rgba(33, 43, 54, 1);
    border-width: 0px;
}

::placeholder{
    color: antiquewhite;
    font-size: 20px;
}

.register-form .register-summit{
    margin-top: 12px;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(0, 171, 85, 1);
    border-width: 0px;
    font-size: 24px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}

#def{
    margin-top: 24px;
}

.check-box label {
    color: gray;
    letter-spacing: 0.1px;
    font-size: 20px;
}


@media (max-width: 740px){
    #register-page .register-img{
        display: none;
    }

    .register-content{
        position: absolute;
        width: 90%;
        height: 100%;
        top: 15%;
        left: 5%;
        right:5%;
        background-color: rgba(33, 43, 54, 1);
    }
    .register-form .register-name{
        display: block;
    }
    .register-name>input{
        width: 100%;
    }
}